---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, HOME_PAGE } from "../../config";

const allPosts = await Astro.glob("../posts/*.{md,mdx}");

const tags = [
  ...new Set(
    [].concat.apply(
      [],
      allPosts.map((post) => post.frontmatter.tags)
    )
  ),
];

export async function getStaticPaths({ paginate }) {
  // Use Astro.glob() to fetch all posts, and then sort them by date.
  const posts = (await Astro.glob("../posts/*.{md,mdx}")).sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  );

  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(posts, { pageSize: 6 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-[#232055] text-white">
    <Header HREF={HOME_PAGE}/>
    <main class="md:flex lg:flex xl:flex">
      
      <div class="md:flex md:justify-evenly lg:flex lg:justify-evenly xl:flex xl:justify-evenly">
          <!-- tags section -->
          
          <section
            class="mx-6 md:w-44 lg:mx-6 lg:w-64 xl:mx-8 xl:w-64"
          >
            <h1
              class="font-semibold leading-[33px] xl:leading-[2.75rem] text-[28.43px] xl:text-[2.5rem] font-[Work_Sans] mt-16 xl:mt-20 mb-8"
            >
              <span class="md:hidden lg:hidden xl:hidden">Browse by topic</span>
              <span class="hidden md:block lg:block lg:text-[22px] xl:block xl:text-[21.33px]">Tags</span>
            </h1>
    
            <div class="flex flex-wrap">
              {
                tags.sort().map((tag) => (
                  <p class="mr-2 lg:mr-4 xl:mr-6 mb-10 lg:mb-12 xl:mb-12 text-base leading-[14px] text-[#232055] font-[Work_Sans] font-medium">
                    <a href={`/tags/${tag}`} class="py-3 px-6 bg-[#87E0B2] ">
                      {tag}
                    </a>
                  </p>
                ))
              }
            </div>
          </section>
          <div class="hidden md:block lg:block xl:block md:h-full lg:h-full xl:h-full md:border-r lg:border-r xl:border-r md:border-[#5A5880] lg:border-[#5A5880] xl:border-[#5A5880] md:mr-4 lg:mr-4 xl:mr-12"></div>

          
      </div>

      <div>

          <h2 class="mx-6 mb-10 md:mt-16 md:mb-6 lg:mb-6 mt-2 lg:mt-16 xl:mt-24 font-[Work_Sans] font-normal lg:font-semibold xl:font-semibold leading-[1.5625rem] text-[1.3rem] lg:text-[24px] xl:text-[2rem]">
            Articles
          </h2>
    
    
        <!-- articles section -->
        <section class=" mx-6 md:grid md:grid-cols-2 lg:grid lg:grid-cols-2 xl:grid xl:grid-cols-3">
          {
            page.data.map((post) => (
              <div class="flex flex-col md:flex md:flex-col md:mr-8 md:mb-16 xl:mb-16 xl:mr-12">
                
                <section >
                    <a href={post.url}>
                      <img
                        src={post.frontmatter.heroImage}
                        class="w-full h-full"
                      />
                    </a>
                </section>
    
                <section class="">
    
                  <p class="text-[9.6px] lg:text-sm xl:text-sm font-medium text-[#E3E3EA] mb-2 mt-2">
                    <time datetime={post.frontmatter.pubDate}>
                      {new Date(post.frontmatter.pubDate).toLocaleDateString(
                        "en-us",
                        {
                          year: "numeric",
                          month: "short",
                          day: "numeric",
                        }
                      )}
                    </time>
                  </p>
    
                  <p class="font-normal text-base mb-2 max-w-full tracking-widest xl:text-xl">
                    <a href={post.url}>
                      {post.frontmatter.title}
                    </a>
                  </p>
    
                  <div class="">
               
                    <button class="font-medium py-1 px-2 text-xs lg:text-sm xl:text-sm text-center text-[#232055] bg-[#87E0B2] ">
                      <a href={`/tags/${post.frontmatter.tags[0]}`}>
                        {post.frontmatter.tags[0]}
                      </a>
                    </button>
                  </div>
                </section>
    
              </div>
              <hr class="border-[1px] border-[#5A5880] mt-4 mb-8 md:hidden" />
    
            ))
          }
        </section>
        <!-- pagination -->
        <section class="mx-6 mb-32 flex justify-between">
          {page.url.prev ? <a href={page.url.prev}><button class="border-2 py-4 px-6">Previous</button></a> : null}
          {page.url.next ? <a href={page.url.next}><button class="border-2 py-4 px-6">Next</button></a> : null}
        </section>
      </div>

    </main>
    <Footer />
  </body>
</html>


  <!-- author -->
    <!-- <p class="text-[9.6px] font-medium text-[#E3E3EA] mb-2">
                       {post.frontmatter.author}
    </p> -->