---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";

const allPosts = await Astro.glob("../posts/*.{md,mdx}");

const tags = [
  ...new Set(
    [].concat.apply(
      [],
      allPosts.map((post) => post.frontmatter.tags)
    )
  ),
];

export async function getStaticPaths({ paginate }) {
  // Use Astro.glob() to fetch all posts, and then sort them by date.
  const posts = (await Astro.glob("../posts/*.{md,mdx}")).sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  );

  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(posts, { pageSize: 4 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-[#232055] text-white">
    <Header />
    <main>
      <!-- tags section -->
      <section
        class="mx-6 md:mb-6 md:my-0 md:mx-auto md:w-[46.5rem] md:text-center md:flex md:flex-col md:items-center"
      >
        <h1
          class="font-semibold leading-[33px] md:leading-[2.75rem] text-[28.43px] md:text-[2.5rem] font-[Work_Sans] mt-16 mb-8 md:mb-10 md:mt-[9rem]"
        >
          Browse by topic
        </h1>

        <div class="flex flex-wrap">
          {
            tags.sort().map((tag) => (
              <p class="mr-2 md:mr-6 mb-10 text-base leading-[14px] text-[#232055] font-[Work_Sans] font-medium">
                <a href={`/tags/${tag}`} class="py-3 px-6 bg-[#87E0B2]">
                  {tag}
                </a>
              </p>
            ))
          }
        </div>
      </section>

        <h2 class="mx-6 mb-10 mt-2 font-[Work_Sans] font-normal md:font-semibold leading-[1.5625rem] text-[1.3rem] md:text-[2rem] xl:px-[2rem]">
          Articles
        </h2>


      <!-- articles section -->
      <section class="mx-6">
        {
          page.data.map((post) => (
            <div class="flex ">
              
              <section >
                  <a href={post.url}>
                    <img
                      src={post.frontmatter.heroImage}
                      class="w-[250px] h-[150px]"
                    />
                  </a>
              </section>

              <section class="ml-3">

                <p class="text-[0.6rem] font-medium text-[#E3E3EA] mb-2">
                  <time datetime={post.frontmatter.pubDate}>
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      "en-us",
                      {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      }
                    )}
                  </time>
                </p>
  
                <p class="font-normal text-base mb-2 max-w-full tracking-widest w-[157px]">
                  <a href={post.url}>
                    {post.frontmatter.title}
                  </a>
                </p>
  
                <div class="">
                  <p class="text-[0.6rem] font-medium text-[#E3E3EA] mb-2">
                    Author: {post.frontmatter.author}
                  </p>
  
                  <button class="font-medium py-1 px-2 text-xs text-center text-[#232055] bg-[#87E0B2] ">
                    <a href={`/tags/${post.frontmatter.tags[0]}`}>
                      {post.frontmatter.tags[0]}
                    </a>
                  </button>
                  </div>
              </section>

            </div>
            <hr class="border-[1px] border-[#5A5880] mt-4 mb-8" />

          ))
        }
      </section>
      <!-- pagination -->
      <section>
        {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
        {page.url.next ? <a href={page.url.next}>Next</a> : null}
      </section>
      <Footer />
    </main>
  </body>
</html>