---
export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.{md,mdx}');

  return [
    {params: {tag: "css"}, props: {posts: allPosts}},
    {params: {tag: "javascript"}, props: {posts: allPosts}},
    {params: {tag: "mdx"}, props: {posts: allPosts}},
    {params: {tag: "java"}, props: {posts: allPosts}},
    {params: {tag: "web-dev"}, props: {posts: allPosts}},
    // {params: {tag: "learning in public"}, props: {posts: allPosts}}
  ]
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.frontmatter.tags.includes(tag));
---

<html>
  <head>
    <!-- <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} /> -->
  </head>

  <body class="">
    <main>
       <p>Posts tagged with {tag}</p>
        <ul>
          {filteredPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
        </ul>
    </main>


  </body>
</html>

<!-- <main>
        
</main> -->




    