---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

const allPosts = await Astro.glob('./posts/*.{md,mdx}');
const tags = [...new Set([].concat.apply([],allPosts.map(post => post.frontmatter.tags)))]

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-[#232055] text-[#FFFFFF] ">
		<Header title={SITE_TITLE} />

		<h1 class="mx-6 font-semibold leading-[33px] text-[28.43px] mt-8"> Access to thousands of programming, blockchain, and web development resources. </h1>

	<main>
        <div class="flex ">
            {tags.sort().map((tag) => (
                <p class="ml-2"><a  href={`/tags/${tag}`}>{tag}</a></p>
            ))}
        </div>
    </main>

		<Footer />
	</body>
</html>
