---
import menu from "/bx_menu.svg";
import search from "/search.svg";
import home from "/home.svg";
import blog from "/blog.svg";

const { HREF } = Astro.props;
---

<header>
  <nav class="">
    <div
      class="flex justify-between items-center mt-11 mx-6 md:mx-[3rem] xl:mx-[8.25rem] md:my-[1.63rem]"
    >
      <a href={HREF} class="cursor-pointer"
        ><h1
          class="text-2xl md:text-[2.4rem] leading-7 md:leading-[2.79rem] font-extrabold"
        >
          IHECHIKARA<span class="text-[#87E0B2]">.</span>
        </h1>
      </a>

      <img
        id="hamBurger-img"
        src={menu}
        alt=""
        class="p-2 pr-0 border-white lg:hidden"
      />
      <!-- desktop menu -->
      <div
        class="items-center leading-[1.56rem] text-[1.3rem] font-[Work_Sans] cursor-pointer hidden lg:flex"
      >
      <a href="/blog/" class="hidden lg:block mr-[2rem] xl:mr-[3rem]">Blog</a>
      <a href="https://ihechikara.substack.com/embed" target="_blank" class="hidden lg:block mr-[2rem] xl:mr-[3rem]">Newsletter</a>
      <!-- <a href="#about" class="hidden lg:block mr-[2rem] xl:mr-[3rem]">About</a>
      <a href="#newsletter" class="hidden lg:block mr-[2rem] xl:mr-[3rem]">Newsletter</a> -->

        <!-- <form class="flex items-center text-xs">
          <button class="p-[1.05rem] bg-[#87E0B2] "
            ><div class="font-extrabold">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z" clip-rule="evenodd" />
              </svg>
              
          </div>
          </button>
          <div class="w-[25rem]">
          <input
            type="text"
            name="text"
            placeholder="Search for articles"
            class="w-full text-[1.3rem] py-[0.97rem] px-[1rem] xl:px-[1.5rem] cursor-text tracking-wider text-[black] border-none outline-none"
          />
        </div>
        </form> -->
      </div>
      <!-- end of desktop for menu -->
    </div>

    <hr class="border-[1px] border-[#5A5880] mt-[19.5px]" />


    <!-- Nav for Mobile -->
    <div id="mobileNav" class="bg-[#5A5880] w-full py-6 px-6 hidden">
      <!-- <form class="flex items-center text-xs mb-6 w-full">
        <button
          class="p-[0.92rem] bg-[#87E0B2] text-[#FFFFFF] tracking-wider cursor-pointer md:text-[1.5rem]"
          ><img src={search} alt="" />
        </button>
        <input
          type="text"
          id="text"
          name="text"
          placeholder="Search for articles"
          class="py-[0.75rem] pl-[1.9rem] pr-[4.5rem] w-full text-[#C8C7D5] text-[1rem] cursor-text tracking-wider leading-6"
        />
      </form> -->
      <a href="/blog/">
        <button
          class="p-[0.92rem] mb-6 text-[#FFFFFF] tracking-wider cursor-pointer md:text-[1.3rem] flex items-center bg-[#5A5880] border-[#918FAA] leading-6 border-[#918FAA] border-solid border-[1px] w-full"
          ><img src={blog} alt="" class="pr-[0.92rem]" />
          <p class="pl-0 cursor-text tracking-wider text-[1rem] text-[#C8C7D5]" 
            >Blog</p
          >
        </button>
      </a>

      <a href="https://ihechikara.substack.com/embed" target="_blank">
        <button
          class="p-[0.92rem] mb-6 text-[#FFFFFF] tracking-wider cursor-pointer md:text-[1.3rem] flex items-center bg-[#5A5880] border-[#918FAA] leading-6 border-[#918FAA] border-solid border-[1px] w-full"
          ><img src={blog} alt="" class="pr-[0.92rem]" />
          <p class="pl-0 cursor-text tracking-wider text-[1rem] text-[#C8C7D5]" 
            >Newsletter</p
          >
        </button>
      </a>

        <!-- <a href="#newsletter">
  
          <button
            class="p-[0.92rem] text-[#FFFFFF] tracking-wider cursor-pointer md:text-[1.3rem] flex items-center bg-[#5A5880] border-[#918FAA] leading-6 border-[#918FAA] border-solid border-[1px] w-full"
            ><img src={blog} alt="" class="pr-[0.92rem]" />
            <p class="pl-0 cursor-text tracking-wider text-[1rem] text-[#C8C7D5]">Newsletter</p>
          </button>
        </a> -->

      

    </div>

    <!-- End of Nav for Mobile -->
  </nav>
</header>

<script>
  let hamBurgerImg = document.getElementById("hamBurger-img");
  let mobileNav = document.getElementById("mobileNav");

  hamBurgerImg.addEventListener("click", () => {
    mobileNav.classList.toggle("hidden");
  });
</script>
