---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { BLOG_HOME_PAGE } from "../config";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    author?: string;
    tags?: string[];
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage, author, tags },
} = Astro.props;

---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-MPXRHH8QR5"></script>
    <script type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MPXRHH8QR5');
    </script>
    <link rel="sitemap" href="/sitemap-index.xml">
    <BaseHead title={title} description={description} image={heroImage} />
  </head>

  <body class="bg-[#232055] text-white">
    <Header HREF={BLOG_HOME_PAGE} />
    <main class="lg:mx-[16.5rem] lg:mt-[7.5rem] text-gray-100">
      <article class=" mt-16 mx-6">
        <h1 class="text-[28.43px] lg:text-[37.9px] font-semibold lg:mb-[1.6rem]">{title}</h1>
        <div class="sm:flex justify-between lg:text-[1rem] lg:mb-[1rem]">
        <p class="mt-2">Author: {author}</p>
        <div class="mt-2">
          {pubDate && <time>{pubDate}</time>}
        </div>
      </div>

        <hr class="border-[1px] border-[#5A5880] my-4 lg:mb-[2rem]" />

        {heroImage && <img width={720} height={360} src={heroImage} alt="" class="sm:w-full" />}

        <hr class="border-[1px] border-[#5A5880] mt-4 mb-12 lg:mt-[2rem]" />

        
        <!-- {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        } -->



        <!-- <hr /> -->
        <div class="prose sm:prose-xl max-w-none text-gray-100 prose-headings:text-gray-100 prose-code:text-[#87E0B2] prose-a:text-blue-600">

          <slot />
        </div>

        <div class="flex flex-col mt-[6.25rem] mb-[8rem] ">
          <p class="mb-[2rem]">Tags:</p>
          <div class="flex space-x-2">
            {tags.map((tag) => 
            
              <ul>
                <li class="py-[4px] px-[8px] text-[#232055] bg-[#87E0B2] text-sm mr-2"><a href={`/tags/${tag}`}>{tag}</a></li>
              </ul>
            
            )}
          </div>
        </div>

      </article>
    </main>
    <!-- <p > </p> -->
    <Footer />
  </body>

</html>
